<h1><%=t("views.sessions.new.login_title")%></h1>
<%= form_for(:login, builder: BootstrapFormBuilder, method: "POST") do |f| %>
   <%= f.text_field :email, label: I18n.t("views.sessions.form.email") %>
   <%= f.password_field :password, label: I18n.t("views.sessions.form.password") %>
   <%= f.submit_and_cancel(cancel_link(root_path), t("views.sessions.form.login_button")) %>
<% end %>

<%= link_to t("menu.dont_have_account"), new_user_path %>