<%= error_explanation(@user) %>
<%= form_for(@user, builder: BootstrapFormBuilder) do |f| %>
   <%= f.text_field :name %>
   <%= f.text_field :email %>
   <%= f.password_field :password %>
   <%= f.password_field :password_confirmation %>
   <%= f.submit_and_cancel(cancel_link(root_path), t("views.users.form.signup_button")) %>
<% end %>