<h1><%= @user.name%></h1>

<div>
  <label><%= t("views.users.show.email") %></label>:<label><%=@user.email%></label>
</div>

<%= link_to t("views.users.show.user_shows_link"), user_shows_path(@user), "data-toggle" => "modal", "data-target" => "#user_shows_modal" %>
<!-- Modal -->
<div class="modal fade" id="user_shows_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>