<div class="row">
    <div class="col-lg-12 text-center">
        <h1><%= t("views.pages.index.title") %></h1>
        <p class="lead"><%= t("views.pages.index.today_shows_title") %></p>
    </div>
</div>
<div class="row">
  <ul>
    <% @today_shows.each do |show| %>
      <li>
        <%= show.link_to_show %>
      </li>
    <% end %>
  </ul>      
</div>