<%= error_explanation(@show) %>
<%= form_for(@show, builder: BootstrapFormBuilder) do |f| %>
   <%= f.text_field :name %>
   <%= f.select :media, Show.media_attributes_for_select %>
   <%= f.text_field :show_time %>

   <%= f.submit_and_cancel(cancel_link(root_path), t("form.save_button")) %>
<% end %>