<%= link_to t("menu.show.new_show"), new_show_path if current_user.id == @user.id %>

<h2>Próximas atrações</h2>
<ul>
  <% @next_shows.each do |show| %>
    <li><%= show.link_to_show %></li>
  <% end %>  
</ul>

<h2>Atrações antigas</h2>
<ul>
  <% @old_shows.each do |show| %>
    <li><%= show.link_to_show %></li>
  <% end %>  
</ul>