<h1><%= t("views.shows.show.show_title", name: @show.name) %></h1>
<%= t("views.shows.show.media_title", media: @show.media_text) %>
<div class="row">
  <% if @show.show_time.present? %>
    <%= t("views.shows.show.show_time_title", media: l(@show.show_time, format: :short)) %>  
  <% end %>
</div>