<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">  
  <title>Agrid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Agrid", root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t("menu.shows"), shows_path %>
          </li>
          <li>
            <%= link_to t("menu.other_users_shows"), users_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <%= link_to t("menu.logout"), logout_path, method: :delete %>
          <% else %>
            <li>
              <%= link_to t("menu.login"), login_path %>
            </li>               
            <li>
              <%= link_to t("menu.signup"), new_user_path %>
            </li>
          <% end %>     
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class='alert <%= bootstrap_class_for(key) %>'>
        <%= value %>
      </div>
    <% end %>    
    <%= yield %>
  </div>


<%= javascript_include_tag "application" %>
</body>
</html>
